.quiz__results {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quiz__results > * {
    margin-right: 20px;
}

.quiz__score {
    font-weight: 700;
    font-size: 13px;
}

.btn {
    padding: 11px 22px;

    background: #4D5B9E;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    color: #F5F7FB;
}

.submit__btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.btn:focus-visible {
    outline: none;
}

.btn:hover,
.btn:focus {
    transform: scale(1.01);
}