.quiz__results {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quiz__results > * {
    margin-right: 20px;
}

.quiz__score {
    font-weight: 700;
    font-size: 13px;
}

.btn {
    padding: 11px 22px;

    background: #4D5B9E;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    color: #F5F7FB;
}

.submit__btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.btn:focus-visible {
    outline: none;
}

.btn:hover,
.btn:focus {
    transform: scale(1.01);
}

/* ANSWER */

.answer__wrapper {
    padding: 15px 0;
    border-bottom: 1px solid #DBDEF0;
}

.question {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.answer__variants {
    display: flex;
    flex-wrap: wrap;
}

.answer__variant__wrapper {
    margin-top: 12px;
}

.answer__variant {
    margin-right: 13px;
    padding: 4px 15px;

    border: 1px solid #4D5B9E;
    border-radius: 8px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked + .answer__variant{
    background: #D6DBF5;
    border: none;
}