.app {
  position: relative;
  min-height: 550px;
  width: 550px;

  color: #293264;
  background-color: #F5F7FB;
  z-index: -2;
}

.app-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.app-quiz {
  padding: 25px 75px;
  color: #293264;
  z-index: 1;
}

.top__blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottom__blob {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}


